<button class="shopify-payment-button__button--unbranded" style="width:100%">
  Buy Now With UPI/COD
</span>

{% schema %}
{
  "name": "Buy Now",
  "target": "section",
  "settings": []
}
{% endschema %}

