<button class="cart__checkout-button button button-class" style="width:100%">
  Buy Now With UPI/COD
</span>

{% schema %}
{
  "name": "Checkout",
  "target": "section",
  "settings": []
}
{% endschema %}

